/* nav bar */

.navBar {
  background: #ACDF87;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
.navBar h1 {
  margin-left: 20px;
}
.navBar ul {
  display: flex;
  flex-wrap: wrap;
}
.navBar ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.navBar ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border: white solid 1px;
  border-radius: 20px;
}
.navBar ul li a:hover {
  background: white;
  opacity: .5;
  padding: 10px;
}

.column {
    width: 35%;
    padding: 50px;
}
  /* Spreads out boxed evenly */
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  /*  background-image:url(Education_DACA.png); */
  }
  /* Style cards */
  .card {
    box-shadow: 0 6px 10px 0 rgba(102, 111, 204, 0.2);
    padding: 16px;
    text-align: center;
    background-color:  #F1F1F1;
    opacity: 0.0 - 1.0;
   /* border-radius: 15px; */
  }



/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom:0;
  padding-top:10px;
  width: 100%;
  opacity:0.85;
}